.App {
    height: 1024px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    border: 1px solid;
    margin: 182px auto 91px auto;
}
.resultsId {
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.identity {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
}

.identityName {
    font-size: 48px;
    font-weight: 500;
    line-height: 0;
}
.identityName span {
    font-size: 48px;
    color: #ff0101;
}
.message {
    font-size: 18px;
    font-weight: 400;
    line-height: 0;
}
.results {
    display: flex;
    /* border: 2px solid blue; */
    width: 100%;
}
.resultsGraphics {
    width: 835px;
    height: 100%;
    /* background-color: aqua; */
}
.resultsNumbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    gap: 25px;
}
.resultsTypes {
    display: flex;
    align-items: center;
    width: 258px;
    height: 124px;
    background-color: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    gap: 35px;
}
.resultsTypes img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin-left: 20px;
}

.resultsTypes .result {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: unset;
    /* line-height: 0; */
    color: #282d30;
}
.resultsTypes .category {
    font-size: 14px;
    color: #74798c;
}
.containerResult {
    display: flex;
    flex-direction: column;
}

.dailyActivity {
    height: 320px;
    border: 1px solid red;
    background-color: #fbfbfb;
    border-radius: 5px;
    margin-bottom: 25px;
}

.division {
    display: flex;
    justify-content: space-between;
}

.session,
.speciality,
.score {
    width: 258px;
    height: 263px;
    border: 1px solid;
    border-radius: 5px;
}
